<html>
<head>
    <title>
        <%=title%>

    </title>
    <style>
        body{
            color: rgb(113, 179, 51);
            text-align: center;
        }
    </style>
</head>

<body>
    <h1> THIS IS THE profile PAGE FOR CONTACT LIST</h1>
    <h2> THis is my contact list</h2>

</body>

</html>